
.scrollbar-outer-container
{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.another-h-scroller-sample{
  margin: 15px;
  width: 300px;
  height: 40px;
  padding: 5px;
  border: 1px solid red;
}

.h-scrollbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 20px;

  border: 1px solid lightgray;

  .btn-dim-custom{
    width: 18px;
    height: 18px;
    font-size: 16px;
    line-height: 0;
    box-sizing: border-box;
    
    .icon-pos-left{
        position: absolute;
        top: 0;
        left: 5px;
    }
    
    .icon-thumb {
        position: absolute;
        top: -2px;
        font-size: 12px;
    }
    
    .icon-pos-right{
        position: absolute;
        top: 0;
        left: 7px;
    }
    
  }
  
  .left-btn {
    display: flex;
    
    position: relative;
    align-self: center;

    width: 18px;
    height: 18px;
    box-sizing: border-box;

    // background: lightslategray;
  }

  .track {
    position: relative;
    align-self: center;

    height: 18px;
    width: calc(100% - 36px);
    box-sizing: border-box;

    background: #EFEFEF; 

    .thumb-btn{
      position: relative;
      display: flex;

      height: 18px;
      width: 60px;
      float: left;
      
      left: 0;
      background: lightsteelblue;
      box-sizing: border-box;
      
      text-align: center;
    }
  }

  .right-btn {
    display: flex;
      
    position: relative;
    align-self: center;

    width: 18px;
    height: 18px;
    box-sizing: border-box;

    // background: lightslategray;

    clear: left;
  }

}

.btn-left-skin{
    color: #333333;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    border-style: solid;
    border-width: 0 1px 0 0;
    border-right-width: 1px;
    border-color: #CCCCCC #CCCCCC #CCCCCC; // #7d7d7d #7d7d7d #7d7d7d;
    &:hover{
        color: #333333;
        background-color: #E0E0E0;
        background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
        border-color: #CCCCCC #CCCCCC #CCCCCC;
    }
}

.btn-right-skin{
    color: #333333;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #CCCCCC #CCCCCC #CCCCCC; // #7d7d7d #7d7d7d #7d7d7d;
    &:hover{
        color: #333333;
        background-color: #E0E0E0;
        background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
        border-color: #CCCCCC #CCCCCC #CCCCCC;
    }
}

.btn-enabled {
    cursor: pointer;
}

.btn-disabled {
    cursor: default;
    // opacity: 0.3;
    background-color: #E0E0E0;
    background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
    &:hover{
        background-color: #E0E0E0;
        background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
        border-color: #CCCCCC #CCCCCC #CCCCCC;
    }
}

.btn-thumb-skin{
    color: #333333;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #D0D0D0);
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC #CCCCCC #CCCCCC; // #7d7d7d #7d7d7d #7d7d7d;
    font-size: 12px;
    &:hover{
        color: #333333;
        background-color: #E0E0E0;
        background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
        border-color: #AdAdAd #AdAdAd #AdAdAd;
    } 
}


.second-test-harness {

  width: 60%;
  min-width: 550px;
  font-size: $font-size-normal;
  font-weight: 400;
}
